.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header strong {
  color: var(--blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.header span {
  color: var(--gray-300);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

/* Input type range */
.sliderContainer {
  position: relative;
  width: 320px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: var(--gray-400);
}

.customRange {
  position: absolute;
  height: 6px;
  width: 320px;
  border-radius: 6px;
  top: 12px;
  left: 0;
  background: var(--blue);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--blue);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.slider::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background-color: var(--blue);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(127, 196, 237, 0.1);
}
.slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(127, 196, 237, 0.2);
}
.slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(127, 196, 237, 0.2);
}

.slider::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(127, 196, 237, 0.1);
}
.slider:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(127, 196, 237, 0.2);
}
.slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(127, 196, 237, 0.2);
}
