:root {
  --font-family: "Poppins", sans-serif;
  --blue: #7fc4ed;
  --neutral-gray-100: #e1e1e6;
  --neutral-gray-200: #c4c4cc;
  --blue-dark: #7fc4ed;
  --gray-100: #659aba;
  --gray-200: #fbf9fe;
  --gray-300: #322f40;
  --gray-400: #1d1b26;
  --gray-500: #0f0e13;
  --text: #c4c4cc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  background-color: var(--gray-500);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
